body {
    background-color:blanchedalmond;
  }
  
h1 {
    color: navy;
    margin-left: 20px;
  }


li {
    list-style-type: none;
    display: inline-block;
}


ul.search{
    background-color:lightblue;
}


p.number{
    font-size: 25px;
    color: gray;
    text-align: start;
}

p.base{
    font-size: 20px;
    color:blue;
    text-align: start;
}

p.pokemonname{
    font-size: 30px;
    font-weight: bold;
    line-height: 2px;
}

span.grass {
    background-color: lightgreen;
    border-radius: 3px;
    text-align: center;
}

span.poison{
    background-color:violet;
    border-radius: 3px;
    text-align: center;
    color: white;
}

span.fire{
    background-color:firebrick;
    border-radius: 3px;
    text-align: center;
    color: white;
}

span.flying{
    background-color:lightblue;
    background: linear-gradient(180deg,lightblue 50%,grey 50%);
    border-radius: 3px;
    text-align: center;
}

span.water{
    background-color:cornflowerblue;
    border-radius: 3px;
    text-align: center;
    color: white;
}

span.bug{
    background-color:yellowgreen;
    border-radius: 3px;
    text-align: center;
    color: white;
}

span.normal{
    background-color:slategrey;
    border-radius: 3px;
    text-align: center;
}



